langchain-openai
langchain-core
langchain-community
langchain-ollama
streamlit
python-dotenv
langserve
fastapi
uvicorn
sse-starlette
bs4
chromadb
faiss-cpu
wikipedia
arxiv
langchainhub
sentence-transformers